body {
  line-height: 1.6;
  margin: 20px;
  background-color: #f3f3f3;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all .24s;
  transition: all .24s
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.copyright {
  box-shadow: 1px 2px 3px #ddd;
  transition: all 0.6s;
  text-align: center;
  color: #5b6064;
  background: #fff;
  margin-bottom: 10px;
  padding-top: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}
